<div>
</div>
<div class="full-screen">
  <div class="hero-middle">
    <h1>Clown Source</h1>
    <h2>Feeling grim? Hire a clown to brighten up your day or even your week!</h2>
    <button type="button" class="btn btn-primary btn-lg">Browse Clowns</button>
  </div>
</div>
