<div class="full-screen">
  <div class="hero-middle">
    <h1>Clown Source</h1>
    <h2>Feeling grim? Hire a clown to brighten up your day or even your week!</h2>
    <%= link_to "Browse Clowns", clowns_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
