<div class="full-screen">
  <div class="hero-middle">
    <h1 class="margin-bottom">Clown Source</h1>
    <h2 class="margin-bottom">Feeling grim? Hire a clown to brighten up your day or even your week!</h2>
    <%= link_to "Browse Clowns", clowns_path, class: "btn btn-ghost" %>
  </div>
</div>
