

<div class="container">
  <div class="header-center"><h1>Find a Clown</h1></div>

    <div class="cards">
    <% @clowns.each do |clown| %>
      <div class="card"style="width: 18rem;">
        <% if clown.photos.first  %>
          <%= cl_image_tag clown.photos.first.key, class:"card-img-top" %>
        <% else %>
          <img class="card-img-top" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.postindependent.com%2Fwp-content%2Fuploads%2Fsites%2F6%2F2016%2F10%2Fcreepyclowns-atd-100616-827x1240.jpg&f=1&nofb=1" alt="Card image cap">
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to clown.name, clown_path(clown)%></h5>
          <p class="card-text"><%= clown.description %></p>
          <div class="card-info">
            <p><strong>Price: $</strong><%= clown.price %> </p>
            <a href="#" class="btn btn-primary booking-btn">Book Now!</a>
          </div>
        </div>
      </div>
       <% end %>
    </div>
</div>
